@font-face {
    font-family: GlacialIndifferenceRegular;
    src: url('../fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: GlacialIndifferenceBold;
    src: url('../fonts/GlacialIndifference-Bold.otf');
}

body {
/*  font-size: 16px;
  color: #fff;
  background-color: #61122f;*/
  font-family: 'GlacialIndifferenceRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 1.5em;
  color: #333333;
}
strong{
	font-family: 'GlacialIndifferenceBold';
}
.standard_green{
	color: #339900;
}
/* START HEADER */
#header-nav{
	background-color: white;
	border-radius: 0;
	border:0;
}
#logo-img{
	background:url('../images/ryokudo_logo2.png');
	width: 270px;
	height: 110px;
	margin: 10x 15px 10px 0;
}
#bottom-bar{
	height:9px;
	background-color: #888888;
}
#buttom-bar-right{
	width: 250px;
	height: inherit;;
	background-color: #006633;
}

.navbar{
	margin-bottom: 0px;
}

#nav-list {
  margin-top: 60px;
}
#nav-list a {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #339900;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #339900;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#main-content{
  margin-top: 20px;
}
li#navHomeButton.active a,
li#navAboutButton.active a,
li#navBlogButton.active a,
li#navGalleryButton.active a{
	background-color: white;
	color: #339900;
}
/* END HEADER */

/* START HOME */
/* Start Carousel */

#home-carousel{
  padding-right: 0;
  padding-left: 0;
}
#myCarousel{
  padding-right: 0;
  padding-left: 0;
}
div#home-carousel div#myCarousel div.carousel-inner{
	background: url('../images/homepage_banner.png') no-repeat;
	background-position: center;
}
#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
	/*background: url('../images/homepage_banner.png') no-repeat;
	background-position: center;*/
}
.carousel-text1, .carousel-text2{
	font-weight: normal;
	color: white;
	position: absolute;
	text-transform: uppercase;
	text-shadow: 4px 2px 1px #222;
}
.carousel-text1{
	top:60%;
	left:10%;
	width: 25%;
}
.carousel-text2{
	top:10%;
	left:70%;
	width: 30%;
}


/* End Carousel */

/* start middle-content */
#middle_content{
	margin-bottom: 20px;
}
#middle_content h1{
	text-shadow: 2px 2px 1px #B8B8B8;
	text-transform: uppercase;
	
}
#middle_content ol{
	list-style-type: upper-alpha;
}
#middle_content .panel{
	width: 80%;
	height: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
#middle_content #learn_more1, #middle_content #learn_more2{
	background-color: #333333;
	border-color: #808080;
}
#middle_content #learn_more1:hover, #middle_content #learn_more2:hover{
	background-color: #339900;
	border-color: #66FF33;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
/* end middle-content */
/*start home-tiles */
#home-tiles-inner{
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

#home-tiles-inner div {
	overflow: hidden;
	
}

#home-tiles-inner div h3{
	text-transform: capitalize;
	margin-top: 10px;
	text-align: center;
}

#recycle_process, #recycle_plastic_fuel, #products_from_waste{
	border: 1px solid #333;
	box-shadow:  1px 1px 1px #222;
}
#recycle_process div.img_holder{
	background: url('../images/recycle-01.png') no-repeat;
	background-position: center;
}

#recycle_plastic_fuel div.img_holder{
	background: url('../images/rpf-01.png') no-repeat;
	background-position: center;
}

#products_from_waste div.img_holder{
	background: url('../images/prod-01.png') no-repeat;
	background-position: center;
}

#recycle_process div.img_holder, #recycle_plastic_fuel div.img_holder, #products_from_waste div.img_holder{
	background-position: center;
	width:100%;/*360px;*/
	height: 174px;
	padding: 0;
	margin:0;
	border:none;
}

.tile-content{
	padding: 5px;
	font-size: 0.9em;

}
.tile-link{
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	
}
#recycle_process a, #recycle_plastic_fuel a, #products_from_waste a{
	text-decoration: none;
	color: #333;
}
/* end home-tiles */
/* END HOME */

/* START ABOUT */
#about-ryokudo{
	padding: 0;
}
#about-ryokudo h4.media-heading{
	color: #339900;
	text-transform: uppercase;
}
#about-ryokudo #myCarousel #carousel-banner-1 {
	background: url('../images/aboutus_banner.png') no-repeat;
	background-position: center;
	width:1370px;
	height: 408px;
	border:1px outset #333333;
}
/* END ABOUT */

/* START PHOTO-GALLERY */
#photo-gallery{
	width:60%;
	margin-left: auto;
	margin-right: auto;
}
/* Style the Image Used to Trigger the Modal */
#modal-photo1, #modal-photo2, #modal-photo3, #modal-photo4, #modal-photo5, #modal-photo6, #modal-photo7, #modal-photo8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#modal-photo1:hover, #modal-photo2:hover, #modal-photo3:hover, #modal-photo4:hover, #modal-photo5:hover, #modal-photo6:hover, #modal-photo7:hover, #modal-photo8:hover {
	opacity: 0.7;
}
/* START BLOG MAIN */
#blog-main{
	padding: 0;
}

#blog-main #myCarousel #carousel-banner-1 {
	background: url('../images/blog_banner.png') no-repeat;
	background-position: center;
	width:1370px;
	height: 408px;
	border:1px outset #333333;
}

#blog-main div#blog-main-content{
	margin-left: auto;
	margin-right: auto;
}

#blog-main div#blog-main-content h1, #blog-main div#blog-main-content h2, #blog-main div#blog-main-content h3, #blog-main div#blog-main-content h4{
	font-family: 'GlacialIndifferenceBold';
}

#blog-main div#blog-main-content div.blog-col, #blog-list{
	padding: 10px;
}

#blog-main div#blog-main-content div.blog-col div#blog-exerpt1, #blog-main div#blog-main-content div div#blog-exerpt2{
	padding: 10px;
	border:1px #333333 solid;
}

#blog-main div#blog-main-content div.blog-img{
	width: 100%;
	height:170px;
	padding: 0;
}

div#blog-exerpt1 .blog-img{
	background: url('../images/blog_jac.png') no-repeat;
	background-position: center;

}

div#blog-exerpt2 .blog-img{
	background: url('../images/blog_messy.png') no-repeat;
	background-position: center;

}
#blog-main div#blog-main-content h4 small{
	font-weight: normal;
}
#read_more1a, #read_more2a{
	margin-right: 3px;
}
div#blog-exerpt1 #read_more1a, div#blog-exerpt1 #read_more1b, div#blog-exerpt2 #read_more2a, div#blog-exerpt2 #read_more2b{
	background-color: #333333;
	border-color: #808080;
	border-radius: 1px;
}
div#blog-exerpt1 #read_more1a:hover, div#blog-exerpt1 #read_more1b:hover, div#blog-exerpt2 #read_more2a:hover, div#blog-exerpt2 #read_more2b:hover{
	background-color: #339900;
	border-color: #66FF33;
}

div#blog-main-content div.date-posted{
	background-color: #D0D0D0;
	padding: 4px;
	text-align: right;
}
div#blog-list h2{
	text-transform: uppercase;
}
div#blog-list a:link, div#blog-list a:visited{
	color: #333333;
	text-decoration: none;
	
}

div#blog-list p.with_hover{
	padding-left: 5px;
}
div#blog-list p.with_hover:hover{
	background-color: #339900;
}


/* END BLOG MAIN */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* END PHOTO-GALLERY */

/* START FOOTER*/
footer#ry_footer{
	background-position: center;
	border:none;
	background-color: white;

}
footer#ry_footer div{
	text-align: center;
}
footer#ry_footer > div:first-child{
	margin-top: 8%;
	text-align: center;
}
footer#ry_footer div:nth-child(2){
	margin-top: 2%;
}

footer#ry_footer > div button#contact_us, footer#ry_footer > div button#contact_us2{
	background-color: #202020;
	border-color: #009900;
	text-transform: uppercase;
	font-size: 1.2em;
}
/* END FOOTER */

/********** Extra Large devices only **********/
@media (min-width: 1371px){
	#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
		/*background:url('../images/homepage_banner_xlg.png') no-repeat;*/
	}

	#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
		width:100%;
		height: 550px;
	}

	div#home-carousel div#myCarousel div.carousel-inner{
		background: url('../images/homepage_banner_xlg.png') no-repeat;
		background-position: center;
	}

	#about-ryokudo #myCarousel #carousel-banner-1 {
		background: url('../images/aboutus_banner_xlg.png') no-repeat;
		background-position: center;
		width:100%;
	}

	#blog-main #myCarousel #carousel-banner-1 {
		background: url('../images/blog_banner_xlg.png') no-repeat;
		background-position: center;
		width:100%;
		height: 537px;
	}

	#about-ryokudo #myCarousel #carousel-banner-1 {
		width:100%;
	}
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1370px) {
	#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
		width:1370px;
		height: 550px;
	}
	.carousel-text1, .carousel-text2{
		font-size: 2.6em;
	}
	footer#ry_footer{
		background: url('../images/footer.png') no-repeat;
		width:1370px;
		height: 408px;
	}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url('../images/ryokudo_logo_medium.png') no-repeat;
		width: 196px;
		height: 80px;
		margin: 5px 5px 5px 0;
	}
	#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
		width:1199px;
		height: 481px;
	}
	.carousel-text1, .carousel-text2{
		width: 25%;
		font-size: 1.9em;
	}

	footer#ry_footer{
		background: url('../images/footer_md.png') no-repeat;
		width:100%;
		height: 357px;
		padding: 0;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#nav-list{
		margin-top: 5px;
	}
	#logo-img {
		background: url('../images/ryokudo_logo_small.png')no-repeat;
		width: 98px;
		height: 40px;
		margin: 5px 5px 5px 0;
	}

	#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
		width:991px;
		height: 398px;
	}
	.carousel-text1, .carousel-text2{
		width: 25%;
		font-size: 1.7em;
	}
	#recycle_process, #recycle_plastic_fuel, #products_from_waste{
		margin-top: 20px;
	}

	
	#blog-main #myCarousel #carousel-banner-1 {
		background: url('../images/blog_banner_sml.png') no-repeat;
		width:991px;
		height: 295px;
	}
	footer#ry_footer{
		background: url('../images/footer_md.png') no-repeat;
		width:100%;
		height: 357px;	}
}

/********** Extra small devices only **********/
@media (max-width: 767px){
	body{
		font-size: 1em;
	}
	#logo-img {
		background: url('../images/ryokudo_logo_small.png') no-repeat;
		width: 98px;
		height: 40px;
		margin: 5px 5px 0px 0;
	}
	#nav-list {
		margin-top: 10px;
	}
	.navbar-default .navbar-collapse{}
	#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
		width:767px;
		height: 308px;
	}
	.carousel-text1, .carousel-text2{
		width: 22%;
		font-size: 1.5em;
	}

	.carousel-text1{
		top:60%;
		left:10%;
		width: 30%;
	}
	.carousel-text2{
		top:10%;
		left:70%;
		width: 30%;
	}
	#recycle_process, #recycle_plastic_fuel, #products_from_waste{
		margin-top: 20px;
	}
	#blog-main #myCarousel #carousel-banner-1 {
		background: url('../images/blog_banner_sml.png') no-repeat;
		width:991px;
		height: 295px;
	}
	footer#ry_footer{
		background: url('../images/footer_md.png') no-repeat;
		width:100%;
		height: 150px;
	}
	footer#ry_footer div.row{
		font-size: 0.85em;
	}

}