body {
/*  font-size: 16px;
  color: #fff;
  background-color: #61122f;*/
  font-family: 'GlacialIndifferenceRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 1.5em;
}
#header-nav{
	background-color: white;
	border-radius: 0;
	border:0;
}
#logo-img{
	background:url('../images/ryokudo_logo2.png');
	width: 270px;
	height: 110px;
	margin: 10x 15px 10px 0;
}
#bottom-bar{
	height:9px;
	background-color: #888888;
}
#buttom-bar-right{
	width: 250px;
	height: inherit;;
	background-color: #006633;
}

.navbar{
	margin-bottom: 0px;
}

#nav-list {
  margin-top: 60px;
}
#nav-list a {
  color: #333333;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #339900;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #339900;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* START CAROUSEL */
#home-carousel{
  padding-right: 0;
  padding-left: 0;
}
#myCarousel{
  margin-top: 20px;
  padding-right: 0;
  padding-left: 0;
}
#carousel-banner-1, #carousel-banner-2, #carousel-banner-3, #carousel-banner-4{
	width:1370px;
	height: 550px;
	background: url('../images/homepage_banner.png') no-repeat;
}
.carousel-text1, .carousel-text2{
	font-size: 2.6em;
	font-weight: normal;
	color: white;
	position: absolute;
	text-transform: uppercase;
	text-shadow: 4px 2px 1px #222;
}
.carousel-text1{
	top:60%;
	left:10%;
	width: 30%;
}
.carousel-text2{
	top:10%;
	left:70%;
	width: 30%;
}


/* END CAROUSEL */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/ryokudo_logo_medium.png') no-repeat;
    width: 196px;
    height: 80px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#logo-img {
    background: url('../images/ryokudo_logo_small.png') no-repeat;
    width: 98px;
    height: 40px;
    margin: 5px 5px 5px 0;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px){
	#logo-img {
    background: url('../images/ryokudo_logo_small.png') no-repeat;
    width: 98px;
    height: 40px;
    margin: 5px 5px 0px 0;
  }
  	#nav-list {
  	margin-top: 10px;
	}
	.navbar-default .navbar-collapse{}
}